*.o
Programmation/dsPIC/CoupeDeFrance2019.X/build/
Programmation/dsPIC/CoupeDeFrance2019.X/debug/
Programmation/dsPIC/CoupeDeFrance2019.X/dist/
Programmation/dsPIC/CoupeDeFrance2019.X/nbproject/configurations.xml
Programmation/dsPIC/CoupeDeFrance2019.X/nbproject/Makefile-default.mk
Programmation/dsPIC/CoupeDeFrance2019.X/nbproject/Makefile-genesis.properties
Programmation/dsPIC/CoupeDeFrance2019.X/nbproject/Makefile-impl.mk
Programmation/dsPIC/CoupeDeFrance2019.X/nbproject/Makefile-local-default.mk
Programmation/dsPIC/CoupeDeFrance2019.X/nbproject/Makefile-variables.mk
Programmation/dsPIC/CoupeDeFrance2019.X/nbproject/Package-default.bash
Programmation/dsPIC/CoupeDeFrance2019.X/nbproject/private/configurations.xml
Programmation/dsPIC/CoupeDeFrance2019.X/nbproject/private/private.xml
